<p> Post your comment here! </p>
<!-- Write a form to post comment -->
<div>

<%=  form_for([@article, @comment]) do |form| %>
  <p><%= form.label :author_name, "Your Name" %></p>
  <p><%= form.text_field :author_name %></p>
  <p><%= form.label :body, "Your Comment" %></p>
  <p><%= form.text_area :body %></p>
  <%= form.submit %>
<% end %>
</div>
<hr>
