<%= flash.notice %>
<%= flash.alert %>

<%= form_for(@article) do |form| %>
<%# the above line simply says "create/ update a form for the object named @article" %>

<% if @article.errors.any? %>
  <p> Errors extracted in view: </p>
  <ul>
    <% @article.errors.full_messages.each do |error| %>
      <li><%= error %></li>
      <% end %>
  </ul>
<% end %>

<p>
<%= form.label :title %>
<%= form.text_field :title %>
</p>

<p>
<%= form.label :body %>
<%= form.text_area :body %>
</p>

<p>
<%= form.submit %>
<%# creates a button called Create/ Update Article %>
<%# form_for automatically directs request to the create path: articles_path POST @articles#create %>
<%# form_for automatically directs request to the update path: article_path(:id) PATCH articles#update %>
</p>

<% end %>

<%= link_to "No, take me back to index", articles_path %>
