<!DOCTYPE html>
<html>
  <head>
    <title>OdinBlogApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%#= include flash.notice here so you can avoid repeating it in every view you need%>
    <%#= flash.notice %>
    <%= yield %>
  </body>
</html>
